@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button {
  @apply rounded-full border border-red-500 px-4 py-1 text-sm text-red-500 ring-red-200 drop-shadow-sm transition-colors hover:drop-shadow-xl focus:bg-red-500 focus:ring-4 focus:text-white hover:bg-red-500 hover:text-white font-semibold
}
